/* Formatea los mensajes Flash::xxx() de KumbiaPHP */
.highlight {
	background: #FFFFDF;
}

div.autocomplete {
	position: relative;
	background-color: white;
	border: 1px solid #888;
	margin: 0;
	padding: 0;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.autocomplete ul li.selected {
	background-color: #ffb;
}
div.autocomplete ul li {
      list-style-type: none;
      display: block;
	  margin: 1px 0;
      padding: 1px;
      cursor: pointer;
      font-size: 10px;
}
